# Prometheus sert à collecter et stocker des métriques. 

global:
  scrape_interval: 5s # intervalle de 5s de collecte

scrape_configs: #scrape = collecter
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"] # elle cible ici elle-même pour le monitoring
 
  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"] # là elle cible cAdvisor qu'on à définit dans le docker-compose.yml

  - job_name: "grafana"
    static_configs:
      - targets: ["grafana:3000"] # grafana c'est pour l'usage des métriques qu'on à définit dans le docker-compose.yml

  - job_name: "nginx"
    static_configs:
      - targets: ["nginx_web:80"] # nginx c'est pour l'usage des métriques qu'on à définit dans le docker-compose.yml

  - job_name: "telegraf"
    static_configs:
      - targets: ["telegraf:8125"] # telegraf c'est pour l'usage des métriques qu'on à définit dans le docker-compose.yml